<section class="py-5">
  <h3 class="display-3">Thank you for your purchase!</h3>
  <p class="lead">You may expect your package within 5 - 7 business days. </p>
  <a href="/" class="btn btn-dark btn-lg">Home</a>
</section>